
body{
    
    background-image: url('/sounds/bg.gif');      
    background-size: cover;       
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container{

    height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
.grid{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}
.grid div{
    /* border: 1px solid black; */
    height: 33%;
    width: 33%;
    /* cursor: crosshair; */
}
.bottom-right{
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}
.bottom{
    border-bottom: 1px solid black;   

}
.right{
    border-right: 1px solid black;
}
.X{
   
   background-image: url('https://i.pinimg.com/originals/46/27/6a/46276ad20bbaf135bf585f141075ebc8.gif');
   background-size: cover;
   
}
.O{

    background-image: url('https://media.tenor.com/D1zxV7uog9MAAAAC/neon-circle.gif');
    background-size: cover;
   
}

#winner{

     font-size: 60px;
     color: #fff;
     text-align: center;
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;       
        
}
#reset{

    background-color: Transparent;
    background-repeat:no-repeat;
    border: 0;    
    cursor:pointer;
    /* overflow: hidden; */
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    box-shadow: 0; 
 
}

#right{

    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 400px;
    text-align: center;
    /* border: 1px black solid; */
    
}
#container{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 900px;   

}